################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdentityServerApp/bin/Debug/netcoreapp2.0
/IdentityServerApp/obj
/MVCApp/bin/Debug/netcoreapp2.0
/MVCApp/obj
